{
  "openapi" : "3.0.1",
  "info" : {
    "title" : "eConsignadoTrabalhador",
    "description" : "API de Operações do Credito Trabalhador - Build em: 15/07/2026 18:52:24",
    "version" : "v1.0.0"
  },
  "externalDocs" : {
    "description" : "Manuais Credito Trabalhador",
    "url" : "https://docs.dataprev.gov.br/docs/credito-trabalhador/"
  },
  "servers" : [ {
    "url" : "https://papiecotrab.dataprev.gov.br/e-consignado-trabalhador/v1.0.0"
  }, {
    "url" : "http://papiecotrab.dataprev.gov.br/e-consignado-trabalhador/v1.0.0"
  } ],
  "security" : [ {
    "default" : [ ]
  } ],
  "paths" : {
    "/comunicados/marcar-leitura-comunicado" : {
      "put" : {
        "tags" : [ ],
        "summary" : "Marcação de comunicado como lido",
        "description" : "Marcação de um comunicado como lido.",
        "operationId" : "marcarLeitura",
        "parameters" : [ {
          "name" : "numero",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int64"
          }
        }, {
          "name" : "codigoSolicitante",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Comunicado marcado como lido com sucesso."
          },
          "412" : {
            "description" : "Erro na operação solicitada",
            "content" : {
              "*/*" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ListaErrosResponse"
                }
              }
            }
          }
        },
        "security" : [ {
          "default" : [ ]
        } ],
        "x-auth-type" : "Application & Application User",
        "x-throttling-tier" : "Unlimited"
      }
    },
    "/emprestimos/suspender-consignado-trabalhador" : {
      "put" : {
        "tags" : [ ],
        "summary" : "Suspensão de Empréstimo",
        "description" : "Operação de Suspensão de Empréstimo",
        "operationId" : "suspenderEmprestimo_2",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/SuspensaoTrabalhadorRequest"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "Operacao efetuada",
            "content" : {
              "*/*" : {
                "schema" : {
                  "$ref" : "#/components/schemas/SuspensaoTrabalhadorResponse"
                }
              }
            }
          },
          "412" : {
            "description" : "Erro na Operacao solicitada",
            "content" : {
              "*/*" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ListaErrosResponse"
                }
              }
            }
          }
        },
        "security" : [ {
          "default" : [ ]
        } ],
        "x-auth-type" : "Application & Application User",
        "x-throttling-tier" : "Unlimited"
      }
    },
    "/emprestimos/reativar-consignado-trabalhador" : {
      "put" : {
        "tags" : [ ],
        "summary" : "Reativação de Empréstimo",
        "description" : "Operação de Reativação de Empréstimo",
        "operationId" : "reativarEmprestimo_2",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/ReativacaoTrabalhadorRequest"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "Operacao efetuada",
            "content" : {
              "*/*" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ReativacaoTrabalhadorResponse"
                }
              }
            }
          },
          "412" : {
            "description" : "Erro na Operacao solicitada",
            "content" : {
              "*/*" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ListaErrosResponse"
                }
              }
            }
          }
        },
        "security" : [ {
          "default" : [ ]
        } ],
        "x-auth-type" : "Application & Application User",
        "x-throttling-tier" : "Unlimited"
      }
    },
    "/emprestimos/excluir-portabilidade-trabalhador" : {
      "put" : {
        "tags" : [ ],
        "summary" : "Exclusão de Portabilidade",
        "description" : "Operacao de Exclusão de Portabilidade",
        "operationId" : "excluirPortabilidade_2",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/ExclusaoPortabilidadeTrabalhadorRequest"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "Operacao efetuada",
            "content" : {
              "*/*" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ExclusaoPortabilidadeResponse"
                }
              }
            }
          },
          "412" : {
            "description" : "Erro na Operacao solicitada",
            "content" : {
              "*/*" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ListaErrosResponse"
                }
              }
            }
          }
        },
        "security" : [ {
          "default" : [ ]
        } ],
        "x-auth-type" : "Application & Application User",
        "x-throttling-tier" : "Unlimited"
      }
    },
    "/emprestimos/excluir-consignado-trabalhador" : {
      "put" : {
        "tags" : [ ],
        "summary" : "Exclusão de Consignado",
        "description" : "Serviço de de Exclusao de Consignado",
        "operationId" : "excluirConsignado_2",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/ExclusaoEmprestimoTrabalhadorRequest"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "Operacao efetuada",
            "content" : {
              "*/*" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ExclusaoSucessoTrabalhadorResponse"
                }
              }
            }
          },
          "412" : {
            "description" : "Erro na Operacao solicitada",
            "content" : {
              "*/*" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ListaErrosResponse"
                }
              }
            }
          }
        },
        "security" : [ {
          "default" : [ ]
        } ],
        "x-auth-type" : "Application & Application User",
        "x-throttling-tier" : "Unlimited"
      }
    },
    "/emprestimos/excluir-antecipar-parcela" : {
      "put" : {
        "tags" : [ ],
        "summary" : "Exclusão de antecipação de parcela do Trabalhador",
        "description" : "Serviço de exclusão de antecipação de parcela do trabalhador",
        "operationId" : "excluirParcelaAntecipada_1",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/ExcluirAntecipacaoParcelaTrabalhadorRequest"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "Operação efetuada",
            "content" : {
              "*/*" : {
                "schema" : {
                  "$ref" : "#/components/schemas/AntecipacaoParcelasTrabalhadorResponse"
                }
              }
            }
          },
          "412" : {
            "description" : "Requisição com dados inválidos",
            "content" : {
              "*/*" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ListaErrosResponse"
                }
              }
            }
          }
        },
        "security" : [ {
          "default" : [ ]
        } ],
        "x-auth-type" : "Application & Application User",
        "x-throttling-tier" : "Unlimited"
      }
    },
    "/emprestimos/alterar-nu-portabilidade-trabalhador" : {
      "put" : {
        "tags" : [ ],
        "summary" : "Alteração de Número Único da Portabilidade",
        "description" : "Operacao de Alteração do Numero Único da Portabilidade",
        "operationId" : "alterarNroUnicoPortabilidade_1",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/AlteracaoNUPortabilidadeTrabalhadorRequest"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "Operacao efetuada",
            "content" : {
              "*/*" : {
                "schema" : {
                  "$ref" : "#/components/schemas/AlteracaoNUPortabilidadeTrabalhadorRequest"
                }
              }
            }
          },
          "412" : {
            "description" : "Erro na Operacao solicitada",
            "content" : {
              "*/*" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ListaErrosResponse"
                }
              }
            }
          }
        },
        "security" : [ {
          "default" : [ ]
        } ],
        "x-auth-type" : "Application & Application User",
        "x-throttling-tier" : "Unlimited"
      }
    },
    "/emprestimos/alterar-consignado-encerrado-trabalhador" : {
      "put" : {
        "tags" : [ ],
        "summary" : "Alteração de Empréstimo Encerrado por término de vínculo",
        "description" : "Serviço de Alteração de Empréstimo Encerrado por término de vínculo",
        "operationId" : "alterarEmprestimoEncerrado_1",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/AlteracaoEmprestimoEncerradoTrabalhadorRequest"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "Operacao efetuada",
            "content" : {
              "*/*" : {
                "schema" : {
                  "$ref" : "#/components/schemas/AlteracaoSucessoEmprestimoEncerradoResponse"
                }
              }
            }
          },
          "412" : {
            "description" : "Erro na Operacao solicitada",
            "content" : {
              "*/*" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ListaErrosResponse"
                }
              }
            }
          }
        },
        "security" : [ {
          "default" : [ ]
        } ],
        "x-auth-type" : "Application & Application User",
        "x-throttling-tier" : "Unlimited"
      }
    },
    "/emprestimos/alterar-cbc-portabilidade-trabalhador" : {
      "put" : {
        "tags" : [ ],
        "summary" : "Alteração de CBC Portabilidade",
        "description" : "Operacao de Alteracao CBC Portabilidade",
        "operationId" : "alterarCBCPortabilidade_1",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/AlteracaoCBCPortabilidadeTrabalhadorRequest"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "Operacao efetuada",
            "content" : {
              "*/*" : {
                "schema" : {
                  "$ref" : "#/components/schemas/AlteracaoSucessoResponse"
                }
              }
            }
          },
          "412" : {
            "description" : "Erro na Operacao solicitada",
            "content" : {
              "*/*" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ListaErrosResponse"
                }
              }
            }
          }
        },
        "security" : [ {
          "default" : [ ]
        } ],
        "x-auth-type" : "Application & Application User",
        "x-throttling-tier" : "Unlimited"
      }
    },
    "/emprestimos-legados/excluir-emprestimo-legado-trabalhador" : {
      "put" : {
        "tags" : [ ],
        "summary" : "Exclusão de Empréstimo Legado",
        "description" : "Serviço de Exclusão de Empréstimo Legado",
        "operationId" : "exclusao_1",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/ExclusaoEmprestimoLegadoTrabalhadorRequest"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "Operacao efetuada",
            "content" : {
              "*/*" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ExclusaoSucessoTrabalhadorResponse"
                }
              }
            }
          },
          "412" : {
            "description" : "Erro na Operacao solicitada",
            "content" : {
              "*/*" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ListaErrosResponse"
                }
              }
            }
          }
        },
        "security" : [ {
          "default" : [ ]
        } ],
        "x-auth-type" : "Application & Application User",
        "x-throttling-tier" : "Unlimited"
      }
    },
    "/trabalhadores/autorizar-consulta-dados-trabalhador" : {
      "post" : {
        "tags" : [ ],
        "summary" : "Autorização de Consulta de Dados do Trabalhadores",
        "description" : "Serviço de Autorização para Consulta de Dados do Trabalhador",
        "operationId" : "autorizarConsulta_1",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/AutorizacaoConsultaTrabalhadorRequest"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "Autorização Criada",
            "content" : {
              "*/*" : {
                "schema" : {
                  "$ref" : "#/components/schemas/AutorizacaoConsultaTrabalhadorResponse"
                }
              }
            }
          },
          "412" : {
            "description" : "Requisição dados inválidos",
            "content" : {
              "*/*" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ListaErrosResponse"
                }
              }
            }
          }
        },
        "security" : [ {
          "default" : [ ]
        } ],
        "x-auth-type" : "Application & Application User",
        "x-throttling-tier" : "Unlimited"
      }
    },
    "/propostas-portabilidade-ctps/inclusao-garantias" : {
      "post" : {
        "tags" : [ ],
        "summary" : "Realização de Proposta de Portabilidade com garantias para solicitação realizada via CTPS Digital",
        "description" : "Realização de Proposta de Portabilidade com garantias para solicitação realizada via CTPS Digital",
        "operationId" : "realizarPropostaComGarantias_1",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "type" : "array",
                "items" : {
                  "$ref" : "#/components/schemas/PropostaPortabilidadeTrabalhadorRequest"
                }
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "Operação efetuada",
            "content" : {
              "*/*" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PropostaPortabilidadeTrabalhadorResponse"
                }
              }
            }
          },
          "412" : {
            "description" : "Requisicao com dados invalidos",
            "content" : {
              "*/*" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ListaErrosResponse"
                }
              }
            }
          }
        },
        "security" : [ {
          "default" : [ ]
        } ],
        "x-auth-type" : "Application & Application User",
        "x-throttling-tier" : "Unlimited"
      }
    },
    "/propostas-portabilidade-ctps/inclusao" : {
      "post" : {
        "tags" : [ ],
        "summary" : "(DEPRECIADO) Realização de Proposta de Portabilidade para solicitação realizada via CTPS Digital (deprecated: usar /propostas-portabilidade-ctps/inclusao-garantias)",
        "description" : "Realização de Proposta de Portabilidade para solicitação realizada via CTPS Digital",
        "operationId" : "realizarProposta_1",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/PropostaPortabilidadeTrabalhadorRequest"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "Operação efetuada",
            "content" : {
              "*/*" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PropostaPortabilidadeTrabalhadorResponse"
                }
              }
            }
          },
          "412" : {
            "description" : "Requisicao com dados invalidos",
            "content" : {
              "*/*" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ListaErrosResponse"
                }
              }
            }
          }
        },
        "deprecated" : true,
        "security" : [ {
          "default" : [ ]
        } ],
        "x-auth-type" : "Application & Application User",
        "x-throttling-tier" : "Unlimited"
      }
    },
    "/propostas-ctps/inclusao-garantias" : {
      "post" : {
        "tags" : [ ],
        "summary" : "Realização de Proposta(s) com garantias para solicitação realizada via CTPS Digital",
        "description" : "Realização de Proposta(s) com garantias para solicitação realizada via CTPS Digital. Se solicitação COM garantia: a) 2 propostas (1 com e 1 sem garantia), b) 1 proposta com garantia, ou c) 1 proposta sem garantia. Se solicitação SEM garantia, deve ser enviada 1 proposta sem garantia.",
        "operationId" : "realizarPropostaComGarantias_3",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "type" : "array",
                "items" : {
                  "$ref" : "#/components/schemas/PropostaTrabalhadorRequest"
                }
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "Operação efetuada",
            "content" : {
              "*/*" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/PropostaTrabalhadorResponse"
                  }
                }
              }
            }
          },
          "412" : {
            "description" : "Requisicao com dados invalidos",
            "content" : {
              "*/*" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ListaErrosResponse"
                }
              }
            }
          }
        },
        "security" : [ {
          "default" : [ ]
        } ],
        "x-auth-type" : "Application & Application User",
        "x-throttling-tier" : "Unlimited"
      }
    },
    "/propostas-ctps/inclusao" : {
      "post" : {
        "tags" : [ ],
        "summary" : "(DEPRECIADO) Realização de Proposta para solicitação realizada via CTPS Digital (deprec ated: usar /propostas-ctps/inclusao-garantias)",
        "description" : "Realização de Proposta para solicitação realizada via CTPS Digital. Serviço descontinuado: não aceita solicitações com garantia.",
        "operationId" : "realizarProposta_3",
        "responses" : {
          "200" : {
            "description" : "Operação efetuada",
            "content" : {
              "*/*" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PropostaTrabalhadorResponse"
                }
              }
            }
          },
          "412" : {
            "description" : "Requisicao com dados invalidos",
            "content" : {
              "*/*" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ListaErrosResponse"
                }
              }
            }
          }
        },
        "deprecated" : true,
        "security" : [ {
          "default" : [ ]
        } ],
        "x-auth-type" : "Application & Application User",
        "x-throttling-tier" : "Unlimited"
      }
    },
    "/homologacao/solicitacao-portabilidade-extra-trabalhador" : {
      "post" : {
        "tags" : [ ],
        "summary" : "Inclusão de Solicitação de Propostas de Portabilidade Trabalhador Extra para testes. Somente em ambiente de HOMOLOGAÇÃO.",
        "description" : "Inclusão de solicitação de propostas de portabilidade trabalhador extra para testes. Somente em ambiente de HOMOLOGAÇÃO.",
        "operationId" : "incluirSolicitacaoPortabilidadeExtraTrabalhador_1",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/InclusaoMassaSolicitacaoPropostaPortabilidadeTrabalhadorRequest"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "201" : {
            "description" : "Operação efetuada",
            "content" : {
              "*/*" : {
                "schema" : {
                  "$ref" : "#/components/schemas/MassaExtraSolicitacaoTrabalhadorResponse"
                }
              }
            }
          },
          "412" : {
            "description" : "Requisição com dados inválidos",
            "content" : {
              "*/*" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ListaErrosResponse"
                }
              }
            }
          }
        },
        "security" : [ {
          "default" : [ ]
        } ],
        "x-auth-type" : "Application & Application User",
        "x-throttling-tier" : "Unlimited"
      }
    },
    "/homologacao/solicitacao-extra-trabalhador" : {
      "post" : {
        "tags" : [ ],
        "summary" : "Inclusão de Solicitação de Propostas Trabalhador Extra para testes. Somente em ambiente de HOMOLOGAÇÃO.",
        "description" : "Inclusão de solicitação de propostas trabalhador extra para testes. Somente em ambiente de HOMOLOGAÇÃO.",
        "operationId" : "incluirSolicitacaoExtraTrabalhador_1",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/InclusaoMassaSolicitacaoPropostaTrabalhadorRequest"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "201" : {
            "description" : "Operação efetuada",
            "content" : {
              "*/*" : {
                "schema" : {
                  "$ref" : "#/components/schemas/MassaExtraSolicitacaoTrabalhadorResponse"
                }
              }
            }
          },
          "412" : {
            "description" : "Requisição com dados inválidos",
            "content" : {
              "*/*" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ListaErrosResponse"
                }
              }
            }
          }
        },
        "security" : [ {
          "default" : [ ]
        } ],
        "x-auth-type" : "Application & Application User",
        "x-throttling-tier" : "Unlimited"
      }
    },
    "/homologacao/pagamento-extra-trabalhador" : {
      "post" : {
        "tags" : [ ],
        "summary" : "Inclusão de Pagamento/Repasse de Empréstimo Trabalhador Extra para testes. Somente em ambiente de HOMOLOGAÇÃO.",
        "description" : "Inclusão de Pagamento/Repasse de Empréstimo Trabalhador Extra para testes. Somente em ambiente de HOMOLOGAÇÃO.",
        "operationId" : "incluirPagamentoExtraTrabalhador_1",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/InclusaoMassaPagamentoTrabalhadorRequest"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "201" : {
            "description" : "Operação efetuada",
            "content" : {
              "*/*" : {
                "schema" : {
                  "$ref" : "#/components/schemas/MassaExtraPagamentoEmpTrabalhadorResponse"
                }
              }
            }
          },
          "412" : {
            "description" : "Requisição com dados inválidos",
            "content" : {
              "*/*" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ListaErrosResponse"
                }
              }
            }
          }
        },
        "security" : [ {
          "default" : [ ]
        } ],
        "x-auth-type" : "Application & Application User",
        "x-throttling-tier" : "Unlimited"
      }
    },
    "/homologacao/massa-extra-trabalhador" : {
      "post" : {
        "tags" : [ ],
        "summary" : "Inclusão de Massa Extra de Dados de Trabalhador para testes. Somente em ambiente de HOMOLOGAÇÃO.",
        "description" : "Inclusão de massa extra de dados de trabalhador para testes. Somente em ambiente de HOMOLOGAÇÃO.",
        "operationId" : "incluirMassaExtraTrabalhador_1",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/InclusaoMassaDeDadosTrabalhadorRequest"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "201" : {
            "description" : "Operação efetuada",
            "content" : {
              "*/*" : {
                "schema" : {
                  "$ref" : "#/components/schemas/MassaExtraTrabalhadorResponse"
                }
              }
            }
          },
          "412" : {
            "description" : "Requisição com dados inválidos",
            "content" : {
              "*/*" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ListaErrosResponse"
                }
              }
            }
          }
        },
        "security" : [ {
          "default" : [ ]
        } ],
        "x-auth-type" : "Application & Application User",
        "x-throttling-tier" : "Unlimited"
      }
    },
    "/homologacao/escrituracao-extra-trabalhador" : {
      "post" : {
        "tags" : [ ],
        "summary" : "Inclusão de eventos de remuneração, escriturados no eSocial, que são referentes a desconto de empréstimos consignados.",
        "description" : "Inclusão de eventos de remuneração, escriturados no eSocial, que são referentes a desconto de empréstimos consignados. Somente em ambiente de HOMOLOGAÇÃO.",
        "operationId" : "incluirEscrituracaoExtraTrabalhador_1",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/InclusaoMassaEscrituracaoRequest"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "201" : {
            "description" : "Operação efetuada",
            "content" : {
              "*/*" : {
                "schema" : {
                  "$ref" : "#/components/schemas/MassaExtraEscrituracaoESocialResponse"
                }
              }
            }
          },
          "412" : {
            "description" : "Requisição com dados inválidos",
            "content" : {
              "*/*" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ListaErrosResponse"
                }
              }
            }
          }
        },
        "security" : [ {
          "default" : [ ]
        } ],
        "x-auth-type" : "Application & Application User",
        "x-throttling-tier" : "Unlimited"
      }
    },
    "/homologacao/emprestimo-consignado-trabalhador-extra" : {
      "post" : {
        "tags" : [ ],
        "summary" : "Inclusão massa extra de Empréstimo Consignado Trabalhador.",
        "description" : "Inclusão massa extra de Empréstimo Consignado Trabalhador. Somente em ambiente de HOMOLOGAÇÃO.",
        "operationId" : "incluirEmprestimoConsignadoTrabalhador_1",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/MassaExtraEmprestimoConsignadoTrabalhadorRequest"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "201" : {
            "description" : "Operação efetuada",
            "content" : {
              "*/*" : {
                "schema" : {
                  "$ref" : "#/components/schemas/MassaExtraEscrituracaoESocialResponse"
                }
              }
            }
          },
          "412" : {
            "description" : "Requisição com dados inválidos",
            "content" : {
              "*/*" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ListaErrosResponse"
                }
              }
            }
          }
        },
        "security" : [ {
          "default" : [ ]
        } ],
        "x-auth-type" : "Application & Application User",
        "x-throttling-tier" : "Unlimited"
      }
    },
    "/homologacao/autorizacoes-saldo-fgts" : {
      "post" : {
        "tags" : [ ],
        "summary" : "Inclusão massa extra de autorização de consulta de saldo de FGTS.",
        "description" : "Inclusão massa extra de autorização de consulta de saldo de FGTS. Somente em ambiente de HOMOLOGAÇÃO.",
        "operationId" : "incluirAutorizacaoConsultaSaldoFgts_1",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/MassaExtraAutorizacaoConsultaSaldoFgtsRequest"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "201" : {
            "description" : "Operação efetuada",
            "content" : {
              "*/*" : {
                "schema" : {
                  "$ref" : "#/components/schemas/MassaExtraAutorizacaoConsultaSaldoFgtsResponse"
                }
              }
            }
          },
          "412" : {
            "description" : "Requisição com dados inválidos",
            "content" : {
              "*/*" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ListaErrosResponse"
                }
              }
            }
          }
        },
        "security" : [ {
          "default" : [ ]
        } ],
        "x-auth-type" : "Application & Application User",
        "x-throttling-tier" : "Unlimited"
      }
    },
    "/garantias/execucao-garantias-fgts" : {
      "post" : {
        "tags" : [ ],
        "summary" : "Execução de Garantia de Empréstimo",
        "description" : "Serviço destinado à execução de garantias de empréstimos encerrados em decorrência do término do vínculo empregatício.",
        "operationId" : "executarGarantia_1",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/ExecucaoGarantiaFgtsRequest"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "Execução de garantia realizada com sucesso",
            "content" : {
              "*/*" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ExecucaoGarantiaFgtsResponse"
                }
              }
            }
          },
          "412" : {
            "description" : "Erro na operação solicitada",
            "content" : {
              "*/*" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ListaErrosResponse"
                }
              }
            }
          }
        },
        "security" : [ {
          "default" : [ ]
        } ],
        "x-auth-type" : "Application & Application User",
        "x-throttling-tier" : "Unlimited"
      }
    },
    "/emprestimos/troca-titularidade-lote-trabalhador" : {
      "post" : {
        "tags" : [ ],
        "summary" : "Troca de Titularidade de Empréstimo Consignado em lote",
        "description" : "Serviço de Troca de Titularidade de Empréstimo Consignado em lote",
        "operationId" : "incluirTrocaDeTitularidadeEmLote_1",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/TrocaTitularidadeLoteTrabalhadorRequest"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "Operação efetuada",
            "content" : {
              "*/*" : {
                "schema" : {
                  "$ref" : "#/components/schemas/TrocaTitularidadeLoteTrabalhadorResponse"
                }
              }
            }
          },
          "412" : {
            "description" : "Erro na operação solicitada",
            "content" : {
              "*/*" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ListaErrosResponse"
                }
              }
            }
          }
        },
        "security" : [ {
          "default" : [ ]
        } ],
        "x-auth-type" : "Application & Application User",
        "x-throttling-tier" : "Unlimited"
      }
    },
    "/emprestimos/tombamento-compulsorio" : {
      "post" : {
        "tags" : [ ],
        "summary" : "Tombamento Compulsório",
        "description" : "Serviço de Tombamento de Empréstimo Consignado Trabalhador",
        "operationId" : "averbarTombamento_1",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/AverbacaoTombamentoTrabalhadorRequest"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "Operacao efetuada",
            "content" : {
              "*/*" : {
                "schema" : {
                  "$ref" : "#/components/schemas/AverbacaoResponse"
                }
              }
            }
          },
          "412" : {
            "description" : "Erro na Operacao solicitada",
            "content" : {
              "*/*" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ListaErrosResponse"
                }
              }
            }
          }
        },
        "security" : [ {
          "default" : [ ]
        } ],
        "x-auth-type" : "Application & Application User",
        "x-throttling-tier" : "Unlimited"
      }
    },
    "/emprestimos/reverter-refinanciamento-trabalhador" : {
      "post" : {
        "tags" : [ ],
        "summary" : "Reversão de Refinanciamento do Trabalhador",
        "description" : "Serviço de Reversão de Refinanciamento do Trabalhador",
        "operationId" : "reverterRefinanciamento_2",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/ReversaoRefinanciamentoTrabalhadorRequest"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "Operacao efetuada",
            "content" : {
              "*/*" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ReversaoRefinResponse"
                }
              }
            }
          },
          "412" : {
            "description" : "Erro na Operacao solicitada",
            "content" : {
              "*/*" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ListaErrosResponse"
                }
              }
            }
          }
        },
        "security" : [ {
          "default" : [ ]
        } ],
        "x-auth-type" : "Application & Application User",
        "x-throttling-tier" : "Unlimited"
      }
    },
    "/emprestimos/renegociar-consignado-trabalhador" : {
      "post" : {
        "tags" : [ ],
        "summary" : "Renegociação de Empréstimo Consignado encerrado",
        "description" : "Operação de Renegociação de Empréstimo Consignado encerrado",
        "operationId" : "renegociar_1",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/RenegociacaoTrabalhadorRequest"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "Operacao efetuada",
            "content" : {
              "*/*" : {
                "schema" : {
                  "$ref" : "#/components/schemas/AverbacaoResponse"
                }
              }
            }
          },
          "412" : {
            "description" : "Erro na Operacao solicitada",
            "content" : {
              "*/*" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ListaErrosResponse"
                }
              }
            }
          }
        },
        "security" : [ {
          "default" : [ ]
        } ],
        "x-auth-type" : "Application & Application User",
        "x-throttling-tier" : "Unlimited"
      }
    },
    "/emprestimos/realizar-refinanciamento-trabalhador" : {
      "post" : {
        "tags" : [ ],
        "summary" : "Averbação de Refinanciamento do Trabalhador",
        "description" : "Serviço de Averbação de Refinanciamento do Trabalhador",
        "operationId" : "refinanciar_2",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/RefinanciamentoTrabalhadorRequest"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "Operacao efetuada",
            "content" : {
              "*/*" : {
                "schema" : {
                  "$ref" : "#/components/schemas/AverbacaoRefinResponse"
                }
              }
            }
          },
          "412" : {
            "description" : "Erro na Operacao solicitada",
            "content" : {
              "*/*" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ListaErrosResponse"
                }
              }
            }
          }
        },
        "security" : [ {
          "default" : [ ]
        } ],
        "x-auth-type" : "Application & Application User",
        "x-throttling-tier" : "Unlimited"
      }
    },
    "/emprestimos/incluir-saldo-devedor-trabalhador" : {
      "post" : {
        "tags" : [ ],
        "summary" : "Envio de Saldo Devedor de empréstimo do trabalhador",
        "description" : "Serviço de Envio de Saldo Devedor de empréstimo do trabalhador",
        "operationId" : "incluirSaldoDevedorContrato_1",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/SaldoDevedorTrabalhadorRequest"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "Operação efetuada",
            "content" : {
              "*/*" : {
                "schema" : {
                  "$ref" : "#/components/schemas/SaldoDevedorTrabalhadorResponse"
                }
              }
            }
          },
          "412" : {
            "description" : "Requisição com dados inválidos",
            "content" : {
              "*/*" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ListaErrosResponse"
                }
              }
            }
          }
        },
        "security" : [ {
          "default" : [ ]
        } ],
        "x-auth-type" : "Application & Application User",
        "x-throttling-tier" : "Unlimited"
      }
    },
    "/emprestimos/incluir-saldo-devedor-lote-trabalhador" : {
      "post" : {
        "tags" : [ ],
        "summary" : "Envio de Saldo Devedor de empréstimo do trabalhador em lote",
        "description" : "Serviço de Envio de Saldo Devedor de empréstimo do trabalhador em lote",
        "operationId" : "incluirSaldoDevedorContratoEmLote_1",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/SaldoDevedorLoteTrabalhadorRequest"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "Operação efetuada",
            "content" : {
              "*/*" : {
                "schema" : {
                  "$ref" : "#/components/schemas/SaldoDevedorLoteTrabalhadorResponse"
                }
              }
            }
          },
          "412" : {
            "description" : "Requisição com dados inválidos",
            "content" : {
              "*/*" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ListaErrosResponse"
                }
              }
            }
          }
        },
        "security" : [ {
          "default" : [ ]
        } ],
        "x-auth-type" : "Application & Application User",
        "x-throttling-tier" : "Unlimited"
      }
    },
    "/emprestimos/incluir-informacoes-contrato-trabalhador" : {
      "post" : {
        "tags" : [ ],
        "summary" : "Inclusão de Informações do Contrato",
        "description" : "Serviço de Inclusão de Informações do Contrato",
        "operationId" : "incluirInfoContrato_2",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/InfoContratoTrabalhadorRequest"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "Operação efetuada",
            "content" : {
              "*/*" : {
                "schema" : {
                  "$ref" : "#/components/schemas/InfoContratoTrabalhadorResponse"
                }
              }
            }
          },
          "412" : {
            "description" : "Erro na operação solicitada",
            "content" : {
              "*/*" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ListaErrosResponse"
                }
              }
            }
          }
        },
        "security" : [ {
          "default" : [ ]
        } ],
        "x-auth-type" : "Application & Application User",
        "x-throttling-tier" : "Unlimited"
      }
    },
    "/emprestimos/averbar-portabilidade-trabalhador" : {
      "post" : {
        "tags" : [ ],
        "summary" : "Averbação de Portabilidade",
        "description" : "Serviço de Averbação Portabilidade",
        "operationId" : "averbarPortabilidade_2",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/AverbacaoPortabilidadeTrabalhadorRequest"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "Operacao efetuada",
            "content" : {
              "*/*" : {
                "schema" : {
                  "$ref" : "#/components/schemas/AverbacaoTrabalhadorResponse"
                }
              }
            }
          },
          "412" : {
            "description" : "Erro na Operacao solicitada",
            "content" : {
              "*/*" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ListaErrosResponse"
                }
              }
            }
          }
        },
        "security" : [ {
          "default" : [ ]
        } ],
        "x-auth-type" : "Application & Application User",
        "x-throttling-tier" : "Unlimited"
      }
    },
    "/emprestimos/averbar-consignado-trabalhador" : {
      "post" : {
        "tags" : [ ],
        "summary" : "Averbação de Empréstimo Consignado",
        "description" : "Operação de Averbação de Empréstimo Consignado",
        "operationId" : "averbar_2",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/AverbacaoTrabalhadorRequest"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "Operacao efetuada",
            "content" : {
              "*/*" : {
                "schema" : {
                  "$ref" : "#/components/schemas/AverbacaoResponse"
                }
              }
            }
          },
          "412" : {
            "description" : "Erro na Operacao solicitada",
            "content" : {
              "*/*" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ListaErrosResponse"
                }
              }
            }
          }
        },
        "security" : [ {
          "default" : [ ]
        } ],
        "x-auth-type" : "Application & Application User",
        "x-throttling-tier" : "Unlimited"
      }
    },
    "/emprestimos/antecipar-parcela" : {
      "post" : {
        "tags" : [ ],
        "summary" : "Antecipação de parcelas do Trabalhador",
        "description" : "Serviço de antecipação de parcela do trabalhador",
        "operationId" : "anteciparParcela_1",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/AntecipacaoParcelaTrabalhadorRequest"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "Operação efetuada",
            "content" : {
              "*/*" : {
                "schema" : {
                  "$ref" : "#/components/schemas/AntecipacaoParcelasTrabalhadorResponse"
                }
              }
            }
          },
          "412" : {
            "description" : "Requisição com dados inválidos",
            "content" : {
              "*/*" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ListaErrosResponse"
                }
              }
            }
          }
        },
        "security" : [ {
          "default" : [ ]
        } ],
        "x-auth-type" : "Application & Application User",
        "x-throttling-tier" : "Unlimited"
      }
    },
    "/emprestimos/alterar-consignado-trabalhador" : {
      "post" : {
        "tags" : [ ],
        "summary" : "Alteração de Empréstimo",
        "description" : "Serviço de Alteração de Empréstimo",
        "operationId" : "alterarEmprestimo_2",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/AlteracaoEmprestimoTrabalhadorRequest"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "Operacao efetuada",
            "content" : {
              "*/*" : {
                "schema" : {
                  "$ref" : "#/components/schemas/AlteracaoSucessoTrabalhadorResponse"
                }
              }
            }
          },
          "412" : {
            "description" : "Erro na Operacao solicitada",
            "content" : {
              "*/*" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ListaErrosResponse"
                }
              }
            }
          }
        },
        "security" : [ {
          "default" : [ ]
        } ],
        "x-auth-type" : "Application & Application User",
        "x-throttling-tier" : "Unlimited"
      }
    },
    "/emprestimos-legados/incluir-emprestimo-legado-trabalhador" : {
      "post" : {
        "tags" : [ ],
        "summary" : "Inclusão de Empréstimo Legado",
        "description" : "Serviço de Inclusão de Empréstimo Legado",
        "operationId" : "inclusao_1",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/InclusaoEmprestimoTrabalhadorLegadoRequest"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "Operacao efetuada",
            "content" : {
              "*/*" : {
                "schema" : {
                  "$ref" : "#/components/schemas/AverbacaoResponse"
                }
              }
            }
          },
          "412" : {
            "description" : "Erro na Operacao solicitada",
            "content" : {
              "*/*" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ListaErrosResponse"
                }
              }
            }
          }
        },
        "security" : [ {
          "default" : [ ]
        } ],
        "x-auth-type" : "Application & Application User",
        "x-throttling-tier" : "Unlimited"
      }
    },
    "/arquivos/upload-arquivo" : {
      "post" : {
        "tags" : [ ],
        "summary" : "Upload de arquivos do Consignado Trabalhador.",
        "description" : "Serviço para upload de arquivos pelas instituições financeiras do Consignado Trabalhador.",
        "operationId" : "uploadArquivoTrabalhador",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/UploadArquivoRequest"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "Operação efetuada",
            "content" : {
              "*/*" : {
                "schema" : {
                  "type" : "object"
                }
              }
            }
          },
          "412" : {
            "description" : "Retorno com erros",
            "content" : {
              "*/*" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ListaErrosResponse"
                }
              }
            }
          }
        },
        "security" : [ {
          "default" : [ ]
        } ],
        "x-auth-type" : "Application & Application User",
        "x-throttling-tier" : "Unlimited"
      }
    },
    "/comunicados/consultar-comunicados" : {
      "get" : {
        "tags" : [ ],
        "summary" : "Consulta de comunicados",
        "description" : "Consulta de comunicados.",
        "operationId" : "obterComunicados",
        "parameters" : [ {
          "name" : "codigoSolicitante",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Consulta efetuada com sucesso.",
            "content" : {
              "*/*" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/ComunicadoResponse"
                  }
                }
              }
            }
          },
          "412" : {
            "description" : "Erro na operação solicitada",
            "content" : {
              "*/*" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ListaErrosResponse"
                }
              }
            }
          }
        },
        "security" : [ {
          "default" : [ ]
        } ],
        "x-auth-type" : "Application & Application User",
        "x-throttling-tier" : "Unlimited"
      }
    },
    "/comunicados/consultar-comunicado" : {
      "get" : {
        "tags" : [ ],
        "summary" : "Consulta de comunicado",
        "description" : "Serviço de Consulta de comunicado por número.",
        "operationId" : "obterComunicado",
        "parameters" : [ {
          "name" : "numero",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int64"
          }
        }, {
          "name" : "codigoSolicitante",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Consulta efetuada com sucesso.",
            "content" : {
              "*/*" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ComunicadoResponse"
                }
              }
            }
          },
          "412" : {
            "description" : "Erro na operação solicitada",
            "content" : {
              "*/*" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ListaErrosResponse"
                }
              }
            }
          }
        },
        "security" : [ {
          "default" : [ ]
        } ],
        "x-auth-type" : "Application & Application User",
        "x-throttling-tier" : "Unlimited"
      }
    },
    "/trabalhadores/listar-autorizados-trabalhador" : {
      "get" : {
        "tags" : [ ],
        "summary" : "Consulta de Lista de Vínculos Autorizados",
        "description" : "Serviço de Consulta da Lista de Vínculos Autorizados",
        "operationId" : "listarVinculosPorCpf_1",
        "parameters" : [ {
          "name" : "tokenAutorizacao",
          "in" : "header",
          "description" : "Token de Autorização",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "maxLength" : 512,
            "minLength" : 0,
            "type" : "string",
            "default" : ""
          }
        }, {
          "name" : "cpf",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int64"
          }
        }, {
          "name" : "codigoSolicitante",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Operação efetuada",
            "content" : {
              "*/*" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ListaVinculosResponse"
                }
              }
            }
          },
          "412" : {
            "description" : "Retorno com erros",
            "content" : {
              "*/*" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ListaErrosResponse"
                }
              }
            }
          }
        },
        "security" : [ {
          "default" : [ ]
        } ],
        "x-auth-type" : "Application & Application User",
        "x-throttling-tier" : "Unlimited"
      }
    },
    "/trabalhadores/consultar-vinculos-novos-trabalhador" : {
      "get" : {
        "tags" : [ ],
        "summary" : "Consulta de vínculos novos de CPFs com empréstimos encerrados por término de vínculo.",
        "description" : "Serviço de Consulta de vínculos novos de CPFs com empréstimos encerrados por término de vínculo. Serviço paginado, com pagina inicial = 1. Consulta pela Data de Atualização do Empréstimo.",
        "operationId" : "consultarTrabalhadoresComEmprestimosEncerradosPorDesligamento_1",
        "parameters" : [ {
          "name" : "codigoSolicitante",
          "in" : "query",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "default" : 0
          }
        }, {
          "name" : "dataHoraInicio",
          "in" : "query",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "default" : ""
          }
        }, {
          "name" : "dataHoraFim",
          "in" : "query",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "default" : ""
          }
        }, {
          "name" : "nroPagina",
          "in" : "query",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "default" : 1
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Operação efetuada",
            "content" : {
              "*/*" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ConsultaVinculoTrabalhadorComEmprestimoEncerradoPaginaResponse"
                }
              }
            }
          },
          "412" : {
            "description" : "Retorno com erros",
            "content" : {
              "*/*" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ListaErrosResponse"
                }
              }
            }
          }
        },
        "security" : [ {
          "default" : [ ]
        } ],
        "x-auth-type" : "Application & Application User",
        "x-throttling-tier" : "Unlimited"
      }
    },
    "/trabalhadores/consultar-saldo-retido-fgts" : {
      "get" : {
        "tags" : [ ],
        "summary" : "Consulta de Saldo Retido FGTS",
        "description" : "Consulta o saldo retido (bloqueado) de um pedido de bloqueio FGTS do trabalhador.",
        "operationId" : "consultarSaldoRetidoFgts_1",
        "parameters" : [ {
          "name" : "tokenAutorizacao",
          "in" : "header",
          "description" : "Token de Autorização",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "maxLength" : 512,
            "minLength" : 0,
            "type" : "string",
            "default" : ""
          }
        }, {
          "name" : "contrato",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "codigoSolicitante",
          "in" : "query",
          "description" : "Código do Solicitante (CBC)",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "description" : "Código do Solicitante (CBC)",
            "format" : "int32",
            "example" : 999
          },
          "example" : 999
        }, {
          "name" : "cpf",
          "in" : "query",
          "description" : "CPF do Trabalhador",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "description" : "CPF do Trabalhador",
            "format" : "int64",
            "example" : 68019017968
          },
          "example" : 68019017968
        }, {
          "name" : "matricula",
          "in" : "query",
          "description" : "Matrícula do Trabalhador",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "maxLength" : 30,
            "minLength" : 1,
            "type" : "string",
            "description" : "Matrícula do Trabalhador",
            "example" : "CONSIGNADO01"
          },
          "example" : "CONSIGNADO01"
        }, {
          "name" : "codigoInscricaoEmpregador",
          "in" : "query",
          "description" : "Tipo de Inscrição do Empregador",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "description" : "Tipo de Inscrição do Empregador",
            "format" : "int32",
            "example" : 1
          },
          "example" : 1
        }, {
          "name" : "numeroInscricaoEmpregador",
          "in" : "query",
          "description" : "Número de Inscrição do Empregador",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "^(.{8}|.{11}|.{14})$",
            "type" : "string",
            "description" : "Número de Inscrição do Empregador",
            "example" : "47192091008403"
          },
          "example" : 47192091008403
        } ],
        "responses" : {
          "200" : {
            "description" : "Consulta realizada com sucesso",
            "content" : {
              "*/*" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ConsultaSaldoRetidoInternoResponse"
                }
              }
            }
          },
          "412" : {
            "description" : "Erro na Operacao solicitada",
            "content" : {
              "*/*" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ListaErrosResponse"
                }
              }
            }
          }
        },
        "security" : [ {
          "default" : [ ]
        } ],
        "x-auth-type" : "Application & Application User",
        "x-throttling-tier" : "Unlimited"
      }
    },
    "/trabalhadores/consultar-saldo-fgts" : {
      "get" : {
        "tags" : [ ],
        "summary" : "Consulta de Saldo FGTS Disponível",
        "description" : "Consulta o saldo FGTS disponível para garantia de E-Consignado do trabalhador.",
        "operationId" : "consultarSaldoFgts_1",
        "parameters" : [ {
          "name" : "tokenAutorizacao",
          "in" : "header",
          "description" : "Token de Autorização",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "maxLength" : 512,
            "minLength" : 0,
            "type" : "string",
            "default" : ""
          }
        }, {
          "name" : "codigoSolicitante",
          "in" : "query",
          "description" : "Código do Solicitante (CBC)",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "description" : "Código do Solicitante (CBC)",
            "format" : "int32",
            "example" : 999
          },
          "example" : 999
        }, {
          "name" : "cpf",
          "in" : "query",
          "description" : "CPF do Trabalhador",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "description" : "CPF do Trabalhador",
            "format" : "int64",
            "example" : 68019017968
          },
          "example" : 68019017968
        }, {
          "name" : "matricula",
          "in" : "query",
          "description" : "Matrícula do Trabalhador",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "maxLength" : 30,
            "minLength" : 1,
            "type" : "string",
            "description" : "Matrícula do Trabalhador",
            "example" : "CONSIGNADO01"
          },
          "example" : "CONSIGNADO01"
        }, {
          "name" : "codigoInscricaoEmpregador",
          "in" : "query",
          "description" : "Tipo de Inscrição do Empregador",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "description" : "Tipo de Inscrição do Empregador",
            "format" : "int32",
            "example" : 1
          },
          "example" : 1
        }, {
          "name" : "numeroInscricaoEmpregador",
          "in" : "query",
          "description" : "Número de Inscrição do Empregador",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "^(.{8}|.{11}|.{14})$",
            "type" : "string",
            "description" : "Número de Inscrição do Empregador",
            "example" : "47192091008403"
          },
          "example" : 47192091008403
        } ],
        "responses" : {
          "200" : {
            "description" : "Consulta realizada com sucesso",
            "content" : {
              "*/*" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ConsultaSaldoFgtsTrabalhadorResponse"
                }
              }
            }
          },
          "412" : {
            "description" : "Erro na Operacao solicitada",
            "content" : {
              "*/*" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ListaErrosResponse"
                }
              }
            }
          }
        },
        "security" : [ {
          "default" : [ ]
        } ],
        "x-auth-type" : "Application & Application User",
        "x-throttling-tier" : "Unlimited"
      }
    },
    "/trabalhadores/consultar-dados-trabalhador" : {
      "get" : {
        "tags" : [ ],
        "summary" : "Consulta de Dados de Vínculo do Trabalhador",
        "description" : "Serviço de Consulta de dados de Vínculo do Trabalhador",
        "operationId" : "consultarDados_1",
        "parameters" : [ {
          "name" : "tokenAutorizacao",
          "in" : "header",
          "description" : "Token de Autorização",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "maxLength" : 512,
            "minLength" : 0,
            "type" : "string",
            "default" : ""
          }
        }, {
          "name" : "codigoSolicitante",
          "in" : "query",
          "description" : "Código do Solicitante (CBC)",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "description" : "Código do Solicitante (CBC)",
            "format" : "int32",
            "example" : 999
          },
          "example" : 999
        }, {
          "name" : "cpf",
          "in" : "query",
          "description" : "CPF do Trabalhador",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "description" : "CPF do Trabalhador",
            "format" : "int64",
            "example" : 68019017968
          },
          "example" : 68019017968
        }, {
          "name" : "matricula",
          "in" : "query",
          "description" : "Matrícula do Trabalhador",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "maxLength" : 30,
            "minLength" : 1,
            "type" : "string",
            "description" : "Matrícula do Trabalhador",
            "example" : "CONSIGNADO01"
          },
          "example" : "CONSIGNADO01"
        }, {
          "name" : "codigoInscricaoEmpregador",
          "in" : "query",
          "description" : "Tipo de Inscrição do Empregador",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "description" : "Tipo de Inscrição do Empregador",
            "format" : "int32",
            "example" : 1
          },
          "example" : 1
        }, {
          "name" : "numeroInscricaoEmpregador",
          "in" : "query",
          "description" : "Número de Inscrição do Empregador",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "^(.{8}|.{11}|.{14})$",
            "type" : "string",
            "description" : "Número de Inscrição do Empregador",
            "example" : "47192091008403"
          },
          "example" : 47192091008403
        } ],
        "responses" : {
          "200" : {
            "description" : "Operação efetuada",
            "content" : {
              "*/*" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ConsultaTrabalhadorResponse"
                }
              }
            }
          },
          "412" : {
            "description" : "Retorno com erros",
            "content" : {
              "*/*" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ListaErrosResponse"
                }
              }
            }
          }
        },
        "security" : [ {
          "default" : [ ]
        } ],
        "x-auth-type" : "Application & Application User",
        "x-throttling-tier" : "Unlimited"
      }
    },
    "/trabalhadores/consultar-dados-tombamento-compulsorio" : {
      "get" : {
        "tags" : [ ],
        "summary" : "Consulta de dados básicos de vínculos por CPF para tombamento compulsório",
        "description" : "Serviço para ajudar as instituições que informaram contratos legados, permitindo que, a partir do CPF, elas obtenham informações básicas dos vínculos ativos do trabalhador.",
        "operationId" : "obterVinculosTrabalhador_1",
        "parameters" : [ {
          "name" : "cpf",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int64"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Operação efetuada",
            "content" : {
              "*/*" : {
                "schema" : {
                  "$ref" : "#/components/schemas/TombamentoCompulsorioResponse"
                }
              }
            }
          },
          "412" : {
            "description" : "Retorno com erros",
            "content" : {
              "*/*" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ListaErrosResponse"
                }
              }
            }
          }
        },
        "security" : [ {
          "default" : [ ]
        } ],
        "x-auth-type" : "Application & Application User",
        "x-throttling-tier" : "Unlimited"
      }
    },
    "/trabalhadores/consultar-autorizacoes-saldo-fgts" : {
      "get" : {
        "tags" : [ ],
        "summary" : "Consulta de Autorizações de Consulta de Saldo FGTS ",
        "description" : "Consulta de Autorizações de Consulta de Saldo FGTS do Trabalhador por período de início e fim .",
        "operationId" : "consultarAutorizacaoSaldoFgts_1",
        "parameters" : [ {
          "name" : "dataHoraInicio",
          "in" : "query",
          "description" : "Data/Hora Início Autorização no formato ddMMyyyyHHmmss",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "description" : "Data/Hora Início Autorização no formato ddMMyyyyHHmmss"
          }
        }, {
          "name" : "dataHoraFim",
          "in" : "query",
          "description" : "Data/Hora Fim Autorização no formato ddMMyyyyHHmmss",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "description" : "Data/Hora Fim Autorização no formato ddMMyyyyHHmmss"
          }
        }, {
          "name" : "codigoSolicitante",
          "in" : "query",
          "description" : "Código do Solicitante (CBC) ",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "description" : "Código do Solicitante (CBC) ",
            "format" : "int32"
          }
        }, {
          "name" : "cpf",
          "in" : "query",
          "description" : "CPF do Trabalhador ",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "description" : "CPF do Trabalhador ",
            "format" : "int64"
          }
        }, {
          "name" : "ativos",
          "in" : "query",
          "description" : "Autorizações Ativas ",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "boolean",
            "description" : "Autorizações Ativas "
          }
        }, {
          "name" : "nroPagina",
          "in" : "query",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "default" : 1
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Consulta realizada com sucesso",
            "content" : {
              "*/*" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ConsultaAutorizacaoSaldoFgtsPaginaResponse"
                }
              }
            }
          },
          "412" : {
            "description" : "Erro na Operacao solicitada",
            "content" : {
              "*/*" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ListaErrosResponse"
                }
              }
            }
          }
        },
        "security" : [ {
          "default" : [ ]
        } ],
        "x-auth-type" : "Application & Application User",
        "x-throttling-tier" : "Unlimited"
      }
    },
    "/propostas-portabilidade-ctps/solicitacoes-trabalhador-paginado" : {
      "get" : {
        "tags" : [ ],
        "summary" : "Consulta de Solicitações de Propostas de Portabilidade válidas (paginado) realizadas via CTPS Digital.",
        "description" : "Consulta de Solicitações de Propostas de Portabilidade válidas (não expiradas) realizadas via CTPS Digital. Paginação inicial em 1.",
        "operationId" : "consultarSolicitacoesPropostasPortabiliaddePaginado_1",
        "parameters" : [ {
          "name" : "codigoSolicitante",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "name" : "dataHoraInicio",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "dataHoraFim",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "nroPagina",
          "in" : "query",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "default" : 1
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Consulta efetuada",
            "content" : {
              "*/*" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ConsultaSolicitacaoPropostaValidaPortabilidadeTrabalhadorPaginaResponse"
                }
              }
            }
          },
          "412" : {
            "description" : "Requisicao com dados invalidos",
            "content" : {
              "*/*" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ListaErrosResponse"
                }
              }
            }
          }
        },
        "security" : [ {
          "default" : [ ]
        } ],
        "x-auth-type" : "Application & Application User",
        "x-throttling-tier" : "Unlimited"
      }
    },
    "/propostas-ctps/solicitacoes-trabalhador-paginado" : {
      "get" : {
        "tags" : [ ],
        "summary" : "Consulta de Solicitações de Propostas válidas (paginado) realizadas via CTPS Digital.",
        "description" : "Consulta de Solicitações de Propostas válidas (não expiradas) realizadas via CTPS Digital. Paginação inicial em 1.",
        "operationId" : "consultarSolicitacoesPropostasPaginado_1",
        "parameters" : [ {
          "name" : "codigoSolicitante",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "name" : "dataHoraInicio",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "dataHoraFim",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "nroPagina",
          "in" : "query",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "default" : 1
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Consulta efetuada",
            "content" : {
              "*/*" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ConsultaSolicitacaoPropostaValidaTrabalhadorPaginaResponse"
                }
              }
            }
          },
          "412" : {
            "description" : "Requisicao com dados invalidos",
            "content" : {
              "*/*" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ListaErrosResponse"
                }
              }
            }
          }
        },
        "security" : [ {
          "default" : [ ]
        } ],
        "x-auth-type" : "Application & Application User",
        "x-throttling-tier" : "Unlimited"
      }
    },
    "/propostas-ctps/solicitacoes-trabalhador" : {
      "get" : {
        "tags" : [ ],
        "summary" : "(DEPRECIADO) Consulta de Solicitações de Propostas válidas realizadas via CTPS Digital.",
        "description" : "(DEPRECIADO) Consulta de Solicitações de Propostas válidas (não expiradas) realizadas via CTPS Digital.",
        "operationId" : "consultarSolicitacoesPropostas_1",
        "parameters" : [ {
          "name" : "codigoSolicitante",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "name" : "idSolicitacaoProposta",
          "in" : "query",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int64"
          }
        }, {
          "name" : "dataHoraInicio",
          "in" : "query",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "dataHoraFim",
          "in" : "query",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Consulta efetuada",
            "content" : {
              "*/*" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/ConsultaSolicitacaoPropostaTrabalhadorResponse"
                  }
                }
              }
            }
          },
          "412" : {
            "description" : "Requisicao com dados invalidos",
            "content" : {
              "*/*" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ListaErrosResponse"
                }
              }
            }
          }
        },
        "deprecated" : true,
        "security" : [ {
          "default" : [ ]
        } ],
        "x-auth-type" : "Application & Application User",
        "x-throttling-tier" : "Unlimited"
      }
    },
    "/emprestimos/garantias-emprestimos-trabalhador" : {
      "get" : {
        "tags" : [ ],
        "summary" : "Consulta de Valores das Garantias associadas aos contratos. Serviço Paginado",
        "description" : "Consulta de Valores das Garantias associadas aos contratos. Serviço paginado, com pagina inicial = 1. Consulta pela Data de Atualização.",
        "operationId" : "consultaGarantiasEmprestimoTrabalhador_1",
        "parameters" : [ {
          "name" : "codigoSolicitante",
          "in" : "query",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "default" : 0
          }
        }, {
          "name" : "dataHoraInicio",
          "in" : "query",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "default" : ""
          }
        }, {
          "name" : "dataHoraFim",
          "in" : "query",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "default" : ""
          }
        }, {
          "name" : "nroPagina",
          "in" : "query",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "default" : 1
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Operação efetuada",
            "content" : {
              "*/*" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ConsultaEmprestimoTrabalhadorGarantiasPaginaResponse"
                }
              }
            }
          },
          "412" : {
            "description" : "Retorno com erros",
            "content" : {
              "*/*" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ListaErrosResponse"
                }
              }
            }
          }
        },
        "security" : [ {
          "default" : [ ]
        } ],
        "x-auth-type" : "Application & Application User",
        "x-throttling-tier" : "Unlimited"
      }
    },
    "/emprestimos/emprestimo-situacao-doc-trabalhador" : {
      "get" : {
        "tags" : [ ],
        "summary" : "Consulta de Situação da Documentação do Empréstimo",
        "description" : "Serviço de Consulta de Emprestimo Situação da Documentação",
        "operationId" : "consultarEmprestimoSituacaoDoc_2",
        "parameters" : [ {
          "name" : "codigoSolicitante",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "name" : "dataInicialInclusao",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "dataFinalInclusao",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "cpfTrabalhador",
          "in" : "query",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int64"
          }
        }, {
          "name" : "classificadorModalidade",
          "in" : "query",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "name" : "classificadorSituacaoEmprestimo",
          "in" : "query",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "name" : "classificadorSituacaoDoc",
          "in" : "query",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "default" : 3
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Operação efetuada",
            "content" : {
              "*/*" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RelatorioSituacaoDocTrabalhadorResponse"
                }
              }
            }
          },
          "412" : {
            "description" : "Requisição com dados inválidos",
            "content" : {
              "*/*" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ListaErrosResponse"
                }
              }
            }
          }
        },
        "security" : [ {
          "default" : [ ]
        } ],
        "x-auth-type" : "Application & Application User",
        "x-throttling-tier" : "Unlimited"
      }
    },
    "/emprestimos/consultar-repasse-pagamentos" : {
      "get" : {
        "tags" : [ ],
        "summary" : "Consulta de Informações de Repasse de Pagamentos de Empréstimos do Trabalhador",
        "description" : "Serviço de Consulta de Informações de Repasse de Pagamentos de Empréstimos do Trabalhador. Serviço paginado, com pagina inicial = 1.",
        "operationId" : "consultarPagamentos_1",
        "parameters" : [ {
          "name" : "codigoSolicitante",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "name" : "dataHoraInicio",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "dataHoraFim",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "cpf",
          "in" : "query",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int64"
          }
        }, {
          "name" : "codigoInscricaoEmpregador",
          "in" : "query",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "name" : "numeroInscricaoEmpregador",
          "in" : "query",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "nroPagina",
          "in" : "query",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "default" : 1
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Operação efetuada",
            "content" : {
              "*/*" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ConsultaPagamentoTrabalhadorPaginaResponse"
                }
              }
            }
          },
          "412" : {
            "description" : "Retorno com erros",
            "content" : {
              "*/*" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ListaErrosResponse"
                }
              }
            }
          }
        },
        "security" : [ {
          "default" : [ ]
        } ],
        "x-auth-type" : "Application & Application User",
        "x-throttling-tier" : "Unlimited"
      }
    },
    "/emprestimos/consultar-portabilidade-trabalhador" : {
      "get" : {
        "tags" : [ ],
        "summary" : "Consulta de Portabilidade",
        "description" : "Servico de Consulta de Portabilidade. ",
        "operationId" : "consultarPortabilidade_2",
        "parameters" : [ {
          "name" : "codigoProponente",
          "in" : "query",
          "description" : "Código do Solicitante do Proponente (CBC)",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "maximum" : 999,
            "minimum" : 1,
            "type" : "integer",
            "description" : "Código do Solicitante do Proponente (CBC)",
            "format" : "int32",
            "example" : 995
          },
          "example" : 995
        }, {
          "name" : "codigoOrigem",
          "in" : "query",
          "description" : "Código do Solicitante de Origem (CBC)",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "maximum" : 999,
            "minimum" : 1,
            "type" : "integer",
            "description" : "Código do Solicitante de Origem (CBC)",
            "format" : "int32",
            "example" : 999
          },
          "example" : 999
        }, {
          "name" : "numeroUnico",
          "in" : "query",
          "description" : "Número Único",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "maximum" : 1000000000000000000000,
            "minimum" : 0,
            "type" : "integer",
            "description" : "Número Único",
            "example" : 7234567890123457000
          },
          "example" : 7234567890123457000
        }, {
          "name" : "cpfTrabalhador",
          "in" : "query",
          "description" : "CPF do Trabalhador",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "description" : "CPF do Trabalhador",
            "format" : "int64",
            "example" : 87070728050
          },
          "example" : 87070728050
        }, {
          "name" : "matricula",
          "in" : "query",
          "description" : "Matrícula do Trabalhador",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "maxLength" : 30,
            "minLength" : 1,
            "type" : "string",
            "description" : "Matrícula do Trabalhador",
            "example" : "MAT213"
          },
          "example" : "MAT213"
        }, {
          "name" : "codigoInscricaoEmpregador",
          "in" : "query",
          "description" : "Tipo de Inscrição do Empregador",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "description" : "Tipo de Inscrição do Empregador",
            "format" : "int32",
            "example" : 1
          },
          "example" : 1
        }, {
          "name" : "numeroInscricaoEmpregador",
          "in" : "query",
          "description" : "Número de Inscrição do Empregador",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "^(.{8}|.{11}|.{14})$",
            "type" : "string",
            "description" : "Número de Inscrição do Empregador",
            "example" : "66106660000160"
          },
          "example" : 66106660000160
        }, {
          "name" : "dataInicioOperacao",
          "in" : "query",
          "description" : "Data hora inicio operação",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "description" : "Data hora inicio operação",
            "format" : "ddMMyyyyHHmmss",
            "example" : "27052025000000"
          },
          "example" : 27052025000000
        }, {
          "name" : "dataFimOperacao",
          "in" : "query",
          "description" : "Data hora fim operação",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "description" : "Data hora fim operação",
            "format" : "ddMMyyyyHHmmss",
            "example" : "30052025235959"
          },
          "example" : 30052025235959
        }, {
          "name" : "classificadorSituacao",
          "in" : "query",
          "description" : "Tipo da situação operação",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "description" : "Tipo da situação operação",
            "format" : "int32",
            "example" : 1
          },
          "example" : 1
        }, {
          "name" : "nroPagina",
          "in" : "query",
          "description" : "Número da página para paginação (começa em 1)",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "description" : "Número da página para paginação (começa em 1)",
            "format" : "int32",
            "example" : 1
          },
          "example" : 1
        } ],
        "responses" : {
          "200" : {
            "description" : "Operacao efetuada",
            "content" : {
              "*/*" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ConsultaPortabilidadeTrabalhadorPaginaResponse"
                }
              }
            }
          },
          "412" : {
            "description" : "Retorno com erro no servico de Consulta de Portabilidade",
            "content" : {
              "*/*" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ListaErrosResponse"
                }
              }
            }
          }
        },
        "security" : [ {
          "default" : [ ]
        } ],
        "x-auth-type" : "Application & Application User",
        "x-throttling-tier" : "Unlimited"
      }
    },
    "/emprestimos/consultar-informacoes-contrato-trabalhador" : {
      "get" : {
        "tags" : [ ],
        "summary" : "Consultar Informações do Contrato",
        "description" : "Serviço de Consulta de Informações do Contrato",
        "operationId" : "consultarInfoContrato_2",
        "parameters" : [ {
          "name" : "codigoSolicitante",
          "in" : "query",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "default" : 0
          }
        }, {
          "name" : "numeroContrato",
          "in" : "query",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "default" : "0"
          }
        }, {
          "name" : "tipoArquivo",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Operação efetuada",
            "content" : {
              "*/*" : {
                "schema" : {
                  "type" : "string"
                }
              }
            }
          },
          "412" : {
            "description" : "Requisição com dados inválidos",
            "content" : {
              "*/*" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ListaErrosResponse"
                }
              }
            }
          }
        },
        "security" : [ {
          "default" : [ ]
        } ],
        "x-auth-type" : "Application & Application User",
        "x-throttling-tier" : "Unlimited"
      }
    },
    "/emprestimos/consultar-escrituracoes-remuneracoes" : {
      "get" : {
        "tags" : [ ],
        "summary" : "Consulta de eventos de remuneração, escriturados no eSocial, que são referentes a desconto de empréstimos consignados.",
[...]
